.category{
    font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 18px;
letter-spacing: 1px;
color: #FFFFFF;
}

.price{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #CD2E71;
}